@using Record_Store_FrontEnd.Models
@using Microsoft.AspNetCore.Components.Forms
@using System.ComponentModel.DataAnnotations
@inject HttpClient httpClient;
@page "/Albums/{AlbumId:int}/edit"
@rendermode InteractiveServer

<PageTitle>Record Details</PageTitle>

<div class="edit-grid">
    
    <div class="edit-album-card">
        <img src="@updatedAlbumRequest.ImgUrl" width="200" height="200"/>
        <h3>@updatedAlbumRequest.Title</h3>
        <h4>@updatedAlbumRequest.Artist</h4>
        <h4>@updatedAlbumRequest.Genre</h4>
        <h4>@updatedAlbumRequest.ReleaseYear</h4>
        <h4>@updatedAlbumRequest.Stock</h4>
    </div>

    <div class="record-details">

        <EditForm Model="@updatedAlbumRequest" OnValidSubmit=@SaveChanges>
        <DataAnnotationsValidator/>


        <h2>Edit Record: </h2>
            <div class="form-group">
            <label>Title</label>
                <InputText @bind-Value="updatedAlbumRequest.Title" />
                <ValidationMessage For="@(() => updatedAlbumRequest.Title)" />
        </div>
        <div class="form-group">
            <label>Artist</label>
                <InputText @bind-Value="updatedAlbumRequest.Artist" />
                <ValidationMessage For="@(() => updatedAlbumRequest.Artist)" />
        </div>
        <div class="form-group">
            <label>Genre</label>
                <InputText @bind-Value="updatedAlbumRequest.Genre" />
                <ValidationMessage For="@(() => updatedAlbumRequest.Genre)" />
        </div>
        <div class="form-group">
            <label>Release Year</label>
                <InputNumber @bind-Value="updatedAlbumRequest.ReleaseYear" />
        </div>
        <div class="form-group">
            <label>Album Cover</label>
                <InputText @bind-Value="updatedAlbumRequest.ImgUrl" />
        </div>
        <div class="form-group">
            <label>Stock</label>
                <InputNumber @bind-Value="updatedAlbumRequest.Stock" />
        </div>
    
        <button id="save-changes-button" type="submit">Save Changes</button>
    

        </EditForm>
    </div>
</div>

@if (!string.IsNullOrWhiteSpace(successMessage))
{
    <p class="success-message">
        @successMessage
    </p>
}
@if (!string.IsNullOrWhiteSpace(errorMessage))
{
    <p class="error-message">
        @errorMessage
    </p>
}


@code {
    [Parameter]
    public UpdatedAlbumRequest updatedAlbumRequest { get; set; } = new();

    [Parameter]
    public int AlbumId { get; set; }

    private string successMessage;
    private string errorMessage;

    protected override async Task OnInitializedAsync()
    {
        var album = await httpClient.GetFromJsonAsync<UpdatedAlbumRequest>($"Album/{AlbumId}");
        Console.WriteLine(album);
        if(album != null)
        {
            updatedAlbumRequest = new UpdatedAlbumRequest
                {
                    Title = album.Title,
                    Artist = album.Artist,
                    Genre = album.Genre,
                    ReleaseYear = album.ReleaseYear,
                    Stock = album.Stock,
                    ImgUrl = album.ImgUrl
                };
        }
    }

    private async Task SaveChanges()
    {
        try
        {
            var response = await httpClient.PutAsJsonAsync<UpdatedAlbumRequest>($"Album/{AlbumId}", updatedAlbumRequest);
            if (response.IsSuccessStatusCode)
            {
                var updatedRecord = await response.Content.ReadFromJsonAsync<UpdatedAlbumRequest>();
                successMessage = "Record updated successfully!";
                errorMessage = null;
            }
            else
            {
                errorMessage = $"Failed to update record: {response.StatusCode}";
                successMessage = null;
            }
        }
        catch(Exception ex)
        {
            Console.WriteLine(ex.Message);
        }
    }

}
